[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = \"C:\\Users\\Macedo\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	name = Jorge Filipe da Silva Macedo
	email = jorgefilipedasilva@gmail.com
